* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Capsuula";
  src: url("./src/fonts/Capsuula.ttf") format("trueType");
}
body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: #f9f7f7;
  
  font-family: Capsuula;
}

