.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
    background-color: #f9f7f7;
  position: relative;
  .content-container {
    width: 800px;
  }
}
.content-image {
  width: 100%;
}
