.image-container {
  width: 100%;
  background-color: grey;
  height: 100%;
  .gallery-image {
    width: 100%;

    object-position: center center;
    object-fit: cover;
  }
}
.gallery-container {
  margin: auto;
  width: 100%;
  max-width: 1194px;

  margin-top: -90px;
  @media (max-width: 580px) {
    margin-top: 0px;
  }
}
.hybrid-gallery-container {
  display: block;
}
.left {
  left: -5em;
  svg {
    transform: scaleX(-1);
  }
}
.right {
  right: -5em;
}
.hybrid-carousel-left {
  bottom: 0;
  top: auto;
  right: 60px;
  svg {
    transform: scaleX(-1);
  }
}
.hybrid-carousel-right {
  bottom: 0;
  top: auto;
  right: 20px;
}
