.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 400px;
  position: relative;
  .content-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
.content-image {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.text-content-container {
  position: relative;
  z-index: 2;

  padding-right: 80px;
  padding-bottom: 30px;

  h5 {
    font-size: 42.84px;
    text-align: right;
    padding-left: 15px;
    color: #860016;
    padding-bottom: 40px;
  }
  width: 400px;
  p {
    margin-bottom: 20px;
    line-height: 1.3;
    font-size: 18px;
    text-align: left;
  }
}
.banner-container {
  margin: auto;
  background-color: white;
  display: flex;
  width: calc(41.66667% - 2rem);
  padding-top: 8rem;
  position: relative;
}
.banner-content {
  &:after {
    content: "";
    position: absolute;
    top: -8rem;

    right: -3rem;
    bottom: -2rem;
    z-index: 1;
    width: 100vw;
    background-color: #fff;
  }
}
