.container {
  display: block;  max-width: 86em;
  margin: 0 auto;
}
.banner-container {
  display: flex;

  .placeholder {
    width: calc(25% - 2rem);
    margin: calc(8.33333% + 1rem);
  }
  .text-container {
    position: relative;

    margin-bottom: 8px;
    max-width: 28rem;
    color: black;
    z-index: 3;
    display: block;
    top: -4rem;
    width: calc(41.66667% - 2rem);

    &::after {
    content: "";
    top: 6rem;
    width: 100vw;
    position: absolute;
    bottom: -4rem;
    top: -6rem;
    right: -3.5rem;
    z-index: -1;
    background-color: white;
    }
    p {
      margin-bottom: 20px;
      line-height: 1.3;
      font-size: 18px;
      text-align: left;
    }
    h5 {
      font-size: 42.84px;
      text-align: left;
      padding-left: 15px;
      color: #860016;
      padding-bottom: 40px;
    }
  }
}
.extra-padding {
  display: none;
  padding-right: 60px;
}
.content-container {
  width: 1317px;
  height: 40rem;
  margin: auto;
  .content-image {
    display: block;
    width: 100%;
    height: 100%;

    object-position: center center;
    object-fit: cover;
  }
}
