.container {
  z-index: 3;

  width: 100%;
  padding: 120px;
  display: flex;
  justify-content: center;
  gap: 18px;

  object-fit: cover;
  .content-container {
    display: flex;
    justify-content: space-around;
    gap: 35%;
    svg {
      height: 40px;
      width: 40px;

      fill: black !important;
    }
  }
}
